body {
    margin: 0;
    padding: 0;
    font-style: 18px;
    line-height: 26px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: black;
    min-width: 1000px;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header {
    padding-top: 57px;
    background: #3229E3;
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: cover;
    max-height: 850px;
}

.logo {
    float: left;
    width: 79px;
    height: 79px;
    left: 135px;
    top: 57px;
    background: linear-gradient(180deg, rgba(244, 93, 46, 0.83) 0%, #F48D2E 100%);
}

.promo-logo {
    position: relative;
    width: 109px;
    height: 23px;
    top: -46px;
    left: 98px;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}


.header-top {
    margin-bottom: 128px;
}

.header-top::after {
    display: table;
    clear: both;
    content: "";
}

/*---------------------------------*/
.main-menu {
    float: right;
    width: 680px;
    height: 40px;
    margin-top: 8px;
}

.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-menu li{
    display: inline-block;
    margin-left: 44px;
    vertical-align: top;
    font-size: 18px;
    line-height: 23px;
}

.main-menu a {
    color: #FFFFFF;
    text-decoration: none;
}

.main-menu a:hover {
    text-decoration: underline;
}

.main-menu a:active {
    text-decoration: none;
    opacity: 0.3;
}

/*---------------------------------*/
.promo {
    position: relative;
    z-index: 10;
    width: 575px;
}
.promo-title {
    width: 575px;
    height: 210px;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    mix-blend-mode: screen;
}

.promo p {
    width: 300px;
    height: 52px;
    color: #E6E6E6;
    margin-bottom: 79px;
    font-size: 18px;
    line-height: 26px;
}

/*---------------------------------*/
.btn {
    display: inline-block;
    border-radius: 30px;
    padding: 24px;
    font-size: 18px;
    line-height: 23px;
    font-weight: bold;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    outline: none;
}

.btn-color {
    background: #F45D2E;
}

.btn-color:hover {
    background: #F45D66;
}

.btn-color:active {
    background: #F4a666;
    color: #F4c39e;
}

.promo .btn {
    width: 270px;
    margin-top: 0px;
    color: #FFFFFF;
}

/*------------------------------*/
.header-picture {
    position: relative;
    width: 514px;
    top: -514px;
    right: -656px;
}

/*=================================*/
.features {
    background: #F2F2F2;
    padding: 71px 0 60px 0;
}

.features .container::after {
    display: table;
    clear: both;
    content: "";
}

.features-item {
    position: relative;
    float: left;
    width: 300px;
    margin-right: 135px;
}

.features-item:last-child {
    margin-right: 0;
}

.features-title {
    position: relative;
    vertical-align: top;
    text-align: center;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: auto;
}

.features p{
    color: #202020;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    vertical-align: top;
    text-align: center;
}

.features-icon-schedule {
    position: relative;
    left: 120px;
}

.features-icon-practice {
    position: relative;
    left: 120px;
}

.features-icon-work {
    position: relative;
    left: 120px;
}

/*=================================*/
.education-variants {
    background: #ffffff;
    margin-top: 60px;
    margin-bottom: 63px;
}

.education-variants .container::after {
    display: table;
    clear: both;
    content: "";
}

.main-education-title {
    position: relative;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 45px;
}

.education-title {
    position: relative;
    vertical-align: top;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: auto;
}

.education-variants p{
    font-style: normal;
    font-weight: normal;
    vertical-align: top;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: rgba(32, 32, 32, 0.8);
    margin-bottom: 30px;
}

.education-item {
    position: relative;
    float: left;
    width: 520px;
    margin-right: 65px;
}

.features-item:last-child {
    margin-right: 0;
}

.education-item .btn {
    width: 270px;
    margin-top: 0px;
    color: #FFFFFF;
}

/*============================*/
.contacts {
    background-color: #F2F2F2;
    padding: 10px 0 162px 0;
}

.contacts .container::after {
    display: table;
    clear: both;
    content: "";
}

/*--------------------------*/
.contacts-form {
    float: left;
    width: 674px;
    margin-right: 119px;
}

.field-fullname {
    margin-bottom: 26px;
}

.field-phone {
    width: 278px;
}

.field-mail {
    position: relative;
    width: 278px;
    left: 397px;
    top: -43px;
}

.field-mess {
    position: relative;
    bottom: 18px;
}

.contacts-form input[type="text"],
.contacts-form textarea {
    width: 100%;
    padding: 10px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    font-family: Arial, sans-serif;
    outline: none;
    border: 1px solid #D9D9DE;
    background: #FFFFFF;
}

.contacts-form input[type="text"]:hover,
.contacts-form textarea:hover {
    border: 2px solid #C4C4C4;
}

.contacts-form input[type="text"]:focus,
.contacts-form textarea:focus {
    border: 2px solid #7f7f7f;
}

.contacts-form textarea {
    min-height: 105px;
    resize: none;
}

/*--------------------------*/
.contacts .btn {
    position: relative;
    top: 265px;
    margin-top: 26px;
    right: 793px;

    width: 277px;
    height: 20px;
    color: #FFFFFF;
    text-transform: none;
    padding: 20px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

.contacts .btn-color {
    background: #3229E3;
}

.contacts .btn-color:hover {
    background: #3219a3;
}

.contacts .btn-color:active {
    background: #655ef3;
    color: #ffffff;
}

.contacts .btn-send {
    margin-top: 26px;
    width: 277px;
    color: #FFFFFF;
    text-transform: none;
    padding: 20px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    background: #3229E3;
    border: none;
    border-radius: 45px;
}

.contacts .btn-send:hover {
    background: #3219a3;
    cursor: pointer;
}

.contacts .btn-send:active {
    background: #655ef3;
    color: #ffffff;
}

/*-------------------------------*/
.contacts-instruction {
    position: relative;
    width: 377px;
    height: 200px;
    top: -260px;
    right: -780px;
}

.contacts-instruction p{
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    letter-spacing: -0.015em;
    color: rgba(32, 32, 32, 0.8);
}

.contacts-instruction h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.015em;
}

/*============================*/

.main-footer {
    background-color: #3229E3;
    padding: 125px 0 100px 0;
    font-size: 14px;
    line-height: 20px;
    
    color: #ffffff;

    font-weight: 400;
}

.main-footer .container::after {
    display: table;
    clear: both;
    content: "";
}

.footer-item {
    position: relative;
    float: left;
    width: 300px;
    margin-right: 126px; 
}

.footer-item:last-child {
    margin-right: 0;
}

/*-----------------------------*/
.footer-item a {
    color: #FFFFFF;
    text-decoration: underline;
}

.footer-item a:hover {
    text-decoration: none;
}

.footer-item a:active {
    text-decoration: none;
    opacity: 0.3;
}

/*-----------------------------*/
.footer-item h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    font-weight: 400;
}

.name-org {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    font-weight: 400;
    margin-bottom: 50px;
}

.footer-item p {
    opacity: 0.8;
}

/*-----------------------------*/
.form-sended {
    margin-top: 200px;
    text-align: center;
}

.form-sended img {
    width: 200px;
}

.form-sended-title {
    margin-bottom: 40px;
}

.btn-to-index {       
    text-decoration: none;
    width: 200px;
    padding: 0;
    padding: 8px 18px;
    font-size: 20px;
    background-color: #ffffff;
    color: #000000;
}

.btn-to-index:hover {
    background-color: #000000;
    color: #ffffff;
    border-radius: 45px;
}