{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Липухина_МР</title>
</head>
<body>
  <div class="container">
    <header><h2>Регистрация</h2></header>
    <div class="btn-back"><a href="{% url 'authorize' %}">назад</a></div>    
    <form action="{% url 'registration' %}" method="post">
        {% csrf_token %}
        <input class="form-field-default" type="text" name="fio" value="{{fio}}" placeholder="ФИО" required>
        <input class="form-field-default" type="text" name="phone" value="{{phone}}" placeholder="Телефон" required>
        <input class="form-field-default" type="text" name="email" value="{{email}}" placeholder="E-mail" required>
        <input class="form-field-default" type="text" name="delivery_address" value="{{delivery_address}}" placeholder="Адрес доставки" required>
        <input class="form-field-default" type="text" name="login" value="{{login}}" placeholder="Логин" required>
        <input class="form-field-default" type="text" name="password" value="{{password}}" placeholder="Пароль" required>
        <input class="btn-send" type="submit" name="btn_registration" value="создать">
    </form>    
    <p class="msg-error">{{msg}}</p>
  </div>  
</body>
</html>